html, body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Grande', Verdana;
  background: #EEE;
  font-size: 14px; }

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  text-decoration: none;
  height: 50px; }
  #header #logo {
    padding: 1em;
    font-size: 125%;
    float: left; }
    #header #logo a {
      padding: 0;
      color: #fa7f00;
      text-decoration: none; }
  #header #links {
    float: right;
    padding: 1em;
    color: white; }
  #header a {
    padding: 0 1em;
    color: white;
    text-decoration: none; }
    #header a:hover {
      text-decoration: underline; }

.main {
  position: absolute;
  top: 50px;
  overflow: auto;
  float: left;
  width: 80%; }
  .main#content {
    bottom: 50px; }
  .main#extra {
    height: 175px;
    border-bottom: 1px solid #777; }
  .main #log, .main #about {
    overflow: hidden;
    margin: 1em; }

#sidebar {
  position: absolute;
  top: 50px;
  bottom: 50px;
  overflow: auto;
  border-left: 1px solid #777;
  right: 0;
  width: 20%; }
  #sidebar #user-list, #sidebar #room-list {
    margin: 1em;
    white-space: nowrap; }
    #sidebar #user-list #users-title, #sidebar #user-list #rooms-title, #sidebar #room-list #users-title, #sidebar #room-list #rooms-title {
      font-weight: bold;
      padding-bottom: 1em; }
    #sidebar #user-list #users, #sidebar #room-list #users {
      width: 100%;
      border-collapse: collapse;
      margin-top: 1em; }
      #sidebar #user-list #users td.pic, #sidebar #room-list #users td.pic {
        height: 50px;
        width: 50px; }
      #sidebar #user-list #users td.nick, #sidebar #room-list #users td.nick {
        vertical-align: middle;
        padding: 0 1em; }
    #sidebar #user-list #rooms, #sidebar #room-list #rooms {
      list-style: square;
      padding: 0 2em; }
  #sidebar #prefs {
    font-size: 90%;
    color: #777;
    margin: 1em;
    white-space: nowrap; }
  #sidebar a {
    display: block;
    color: black;
    text-decoration: none; }
    #sidebar a:hover {
      text-decoration: underline; }

table.message {
  border-collapse: collapse;
  border-spacing: 0; }
  table.message td {
    vertical-align: top;
    font-size: 100%; }
  table.message .nick {
    white-space: nowrap; }

.owner .nick, .self {
  font-weight: bold; }

.system, .time {
  color: #777; }

.nick, .text {
  padding-left: 0.5em; }

#toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; }
  #toolbar #entry {
    font-size: 100%;
    width: 100%;
    padding: 1em;
    margin: 0; }
