$orange: #FA7F00;
$header-height: 50px;
$toolbar-height: 50px;
$sidebar-width: 20%;

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Grande', Verdana;
  background: #EEE;
  font-size: 14px;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  text-decoration: none;
  height: $header-height;
  #logo {
    padding: 1em;
    font-size: 125%;
    float: left;
    color: $orange;
  }
  #links {
    float: right;
    padding: 1em;
    color: white;
  }
  a {
    padding: 0 1em;
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.main {
  position: absolute;
  top: $header-height;
  overflow: auto;
  float: left;
  width: 100% - $sidebar-width;
  &#content {
    bottom: $toolbar-height;
  }
  &#extra {
    height: 175px;
    border-bottom: 1px solid #777;
  }
  #log, #about {
    overflow: hidden;
    margin: 1em;
  }
}

#sidebar {
  position: absolute;
  top: $header-height;
  bottom: $toolbar-height;
  overflow: auto;
  border-left: 1px solid #777;
  right: 0;
  width: $sidebar-width;
  #user-list {
    margin: 1em;
    white-space: nowrap;
    #users-title {
      font-weight: bold;
      padding-bottom: 1em;
    }
    #users {
      border-collapse: collapse;
      margin-top: 1em;
      td.nick {
        text-align: center;
        vertical-align: middle;
        padding: 0 1em;
      }
      a {
        display: block;
        color: black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  #prefs {
    font-size: 90%;
    color: #777;
    margin: 1em;
    white-space: nowrap;
  }
}

table.message {
  border-collapse: collapse;
  border-spacing: 0;
  td {
    vertical-align: top;
  }
  .nick {
    white-space: nowrap;
  }
}

.owner .nick, .self {
  font-weight: bold;
}

.system, .time {
  color: #777;
}

.nick, .text {
  padding-left: 0.5em;
}

#toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $toolbar-height;
  #entry {
    font-size: 100%;
    width: 100%;
    padding: 1em;
    margin: 0;
  }
}
