$orange: #FA7F00;
$header-height: 50px;
$toolbar-height: 50px;

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Grande', Verdana;
  background: #EEE;
  font-size: 14px;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px black solid;
  background: black;
  text-decoration: none;
  height: $header-height;
  #logo {
    padding: 1em;
    font-size: 125%;
    float: left;
    color: $orange;
  }
  #info {
    padding: 1em;
    float: right;
    color: white;
  }
}

#content {
  position: absolute;
  top: $header-height;
  bottom: $toolbar-height;
  overflow: auto;
  display: block;
  float: left;
  width: 85%;
  #log {
    overflow: hidden;
    margin: 1em;
  }
}

#sidebar {
  position: absolute;
  top: $header-height;
  bottom: $toolbar-height;
  border-left: 1px solid #777;
  right: 0;
  width: 15%;
  #user-list {
    overflow: auto;
    padding: 1em;
    padding-top: 0;
  }
}

table.message {
  border-collapse: collapse;
  border-spacing: 0;
  td {
    vertical-align: top;
  }
}

.owner .nick {
  font-weight: bold;
}

.system, .time {
  color: #777;
}

.nick, .text {
  padding-left: 0.5em;
}

#toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $toolbar-height;
  #entry {
    font-size: 100%;
    width: 100%;
    padding: 1em;
    margin: 0;
  }
}
