$orange: #FA7F00;

body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Grande', Verdana;
    background: #EEE;
}

#header {
  position: fixed;
  top: 0;
  padding: 1em;
  width: 100%;
  border-bottom: 1px black solid;
  background: black;
  text-decoration: none;
  color: $orange;
}

#log {
  margin: 4em 1em;
  overflow: hidden;
  display: block;
}

.message {
  display: block;
  border-spacing: 0;
  td {
    vertical-align: top;
  }
}

.system {
  color: #777;
}

.nick, .text {
  padding-left: 0.5em;
}

#toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  #entry {
    font-size: 100%;
    width: 100%;
    padding: 1em;
    margin: 0;
  }
}
